[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eselect"]
	path = eselect
	url = https://github.com/cran/eselect
[submodule "survmixer"]
	path = survmixer
	url = https://github.com/martabofillroig/survmixer
